<div class="ui raised segment">
      <h1 class="ui header"> 
        <i class="trophy icon"></i> Exceptional Essays 
      </h1>
      <div class="ui divider"></div>
      <div class="ui four centered stackable cards">
<div class="card">
  <div class="content">
    <span class="header">Meteorite, the Movie Pitch</span>
    <div class="meta">
      <span class="date">20 Oct 2016</span>
    </div>

    <div class="description">
      Screenwriter: Thank you for this opportunity, I&#x2019;ll get right into it. What we have here is a spin on the classic coming of age tale. Our screenplay begins with a chance encounter between our hero and destiny, when he meets...
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
        <div class="ui basic label">Meteor</div>
      
        <div class="ui basic label">Troubleshooting</div>
      
        <div class="ui basic label">VirtualBox</div>
      
        <div class="ui basic label">Linux</div>
      
    </div>
  </div>

  <a class="ui bottom attached button" href="https://billmullen42.github.io/essays/Meteorite_The_Movie_Pitch.html" target="_blank">Read More</a>
</div>
</div></div>
<div class="ui raised segment">
      <h1 class="ui header"> 
        <i class="trophy icon"></i> Exceptional Projects 
      </h1>
      <div class="ui divider"></div>
      <div class="ui four centered stackable cards">
<a class="card" href="https://mickyjm.github.io/projects/ics111final" target="_blank">
  
  <div class="image">
    <img src="https://mickyjm.github.io/images/carma-final-thumb.png">
  </div>
  
  <div class="content">
    <span class="header">ICS111 Final Project Music Video</span>
    <div class="meta">
      <span class="date">2014</span>
    </div>

    <div class="description">
      My team developed a music video using Java for ICS 111 that won first place out of the entire class.
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
      <div class="ui basic label">Java</div>
      
      <div class="ui basic label">Music Video</div>
      
    </div>
  </div>

</a>
</div></div>
<div class="ui raised segment">
      <h1 class="ui header"> 
        <i class="trophy icon"></i> Exceptional Profiles 
      </h1>
      <div class="ui divider"></div>
      <div class="ui four centered stackable cards">
<div class="ui card" id="anthonyjchriste">
    <div class="content">
      <img class="right floated mini circular ui image" src="https://anthonyjchriste.github.io/images/me.png">
      <div class="header">
        Anthony J. Christe
      </div>
      <div class="meta">
        Ph.D. Student and Research Assistant
      </div>
      <div class="description">
        I am working towards a Ph.D. in Computer Science in the Department of Information and Computer Sciences at the University of Hawaii. I expect to graduate in Spring, 2018.
      </div>
    </div>
    <div class="extra content">
      Interests:
      <div class="interests">
        
        distributed computing, data science, signal classification
        
      </div>
    </div>
  <a class="ui bottom attached button" target="_blank" href="https://anthonyjchriste.github.io">
    <i class="" ass="external icon"></i>
    See portfolio
  </a>
</div>

</div></div>
