 
    <div class="column">
      
      <h3 class="ui centered header"> 
        <img src="img/trophy.png"></i> 
        Sites
      </h3> 
    
        
  <div class="ui centered fluid card">
    <div class="content">
      <h5 class="header">Anthony Christe's Profile</h5>
      <h3 class="ui header">
        <img class="ui avatar image left floated" src="https://anthonyjchriste.github.io/images/me.png">
        Anthony J. Christe
      </h3>
      <h4 class="ui sub header"> Selected Reason: </h4>
      <div class="ui description"> 
        <p> This is the reason why </p>
      </div>
      <div class="meta">
        <span class="right floated time">2016-11-29</span>
      </div>
    </div>
    <div class="ui bottom attached button">
      <a href=https://anthonyjchriste.github.io/> <i class="external icon"></i> View Work </a>
    </div>
  </div>
  
</div>
 
    <div class="column">
      
      <h3 class="ui centered header"> 
        <img src="img/trophy.png"></i> 
        Projects
      </h3> 
    
        
  <div class="ui centered fluid card">
    <div class="content">
      <h5 class="header">ICS 111 Music Video</h5>
      <h3 class="ui header">
        <img class="ui avatar image left floated" src="https://mickyjm.github.io/images/mMangro-1.jpg">
        Michael (Micky) Mangrobang
      </h3>
      <h4 class="ui sub header"> Selected Reason: </h4>
      <div class="ui description"> 
        <p> This is the reason why this piece is awesome. It is creative, using java and the EZ library to create a music video for the song from scratch </p>
      </div>
      <div class="meta">
        <span class="right floated time">2016-11-29</span>
      </div>
    </div>
    <div class="ui bottom attached button">
      <a href=https://mickyjm.github.io/projects/ics111final> <i class="external icon"></i> View Work </a>
    </div>
  </div>
  
</div>
 
    <div class="column">
      
      <h3 class="ui centered header"> 
        <img src="img/trophy.png"></i> 
        Essays
      </h3> 
    
        
  <div class="ui centered fluid card">
    <div class="content">
      <h5 class="header">Meteorite, the Movie Pitch</h5>
      <h3 class="ui header">
        <img class="ui avatar image left floated" src="https://billmullen42.github.io/images/headshot.png">
        Bill Mullen
      </h3>
      <h4 class="ui sub header"> Selected Reason: </h4>
      <div class="ui description"> 
        <p> This is the reason why </p>
      </div>
      <div class="meta">
        <span class="right floated time">2016-11-29</span>
      </div>
    </div>
    <div class="ui bottom attached button">
      <a href=https://billmullen42.github.io/essays/Meteorite_The_Movie_Pitch.html> <i class="external icon"></i> View Work </a>
    </div>
  </div>
  
</div>
