<div class="card">
  <div class="content">
    <span class="header">Book Recommandation: Clean Code</span>
    <div class="meta">
      <span class="date">15 Oct 2016</span>
    </div>

    <div class="description">
      Think back when I first started interning at LiveAction, my first software engineering internship, I wrote terrible codes. They were terrible not because they were not working, but were terrible because I did not consider the fundamentals of programming. I...
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
        <div class="ui basic label">Software Engineering</div>
      
        <div class="ui basic label">Learning</div>
      
    </div>
  </div>

  <a class="ui bottom attached button" href="https://mckuok.github.io/essays/2016-10-15.html" target="_blank">Read More</a>
</div><div class="card">
  
  <div class="content">
    <span class="header">Involvement in RadGrad</span>
    <div class="meta">
      <span class="date">2016-09-26</span>
    </div>

    <div class="description">
      
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
        <div class="ui basic label">Software Engineering</div>
      
        <div class="ui basic label">Learning</div>
      
    </div>
  </div>
    
      <a class="ui bottom attached button" href="https://mckuok.github.io/projects/project-1.html" target="_blank">Read More</a>
    

</div><div class="card">
  <div class="content">
    <span class="header">Book Recommandation: Clean Code</span>
    <div class="meta">
      <span class="date">15 Oct 2016</span>
    </div>

    <div class="description">
      Think back when I first started interning at LiveAction, my first software engineering internship, I wrote terrible codes. They were terrible not because they were not working, but were terrible because I did not consider the fundamentals of programming. I...
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
        <div class="ui basic label">Software Engineering</div>
      
        <div class="ui basic label">Learning</div>
      
    </div>
  </div>

  <a class="ui bottom attached button" href="https://mckuok.github.io/essays/2016-10-15.html" target="_blank">Read More</a>
</div><div class="card">
  
  <div class="content">
    <span class="header">Involvement in RadGrad</span>
    <div class="meta">
      <span class="date">2016-09-26</span>
    </div>

    <div class="description">
      
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      
        <div class="ui basic label">Software Engineering</div>
      
        <div class="ui basic label">Learning</div>
      
    </div>
  </div>
    
      <a class="ui bottom attached button" href="https://mckuok.github.io/projects/project-1.html" target="_blank">Read More</a>
    

</div>