<nav class="ui stackable menu">
  <a href="{{ site.baseurl }}/" class="brand item">
    Home
  </a>
  <style>
    #filter::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: lightgray;
      opacity: 1;
      font-size: 80%;  
      font-style: italic;
      /* Firefox */
    }
  </style>
  <input type="text" id="filter" placeholder="show portfolios with">
  <span class="brand item">
    Showing &nbsp;
    <span id="visiblePortfoliosNum">X</span> 
    &nbsp;/&nbsp; 
    <span id="totalPortfoliosNum">X</span> 
  </span>
</nav>