<div class="three column stretched row"><div class="column">        
  <div class="ui centered fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="https://anthonyjchriste.github.io/images/me.png">
      <div class="header">Ph.D. Portfolio</div>
      <div class="meta">Anthony J. Christe</div>
      <div class="description">The ICS Department requires all Ph.D. students to develop a portfolio as part of their degree experience.  This site illustrates the use of TechFolios to satisfy the portfolio requirements.</div>
    </div>
    <a class="ui bottom attached button" href="https://anthonyjchriste.github.io/" target="_blank">
      <p> <i class="external icon"></i> View Work </p>
    </a>  
  </div>
  </div><div class="column">        
  <div class="ui centered fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="https://avatars1.githubusercontent.com/u/17155339?s=460&v=4">
      <div class="header">ICS 111 Music Video</div>
      <div class="meta">Michael (Micky) Mangrobang</div>
      <div class="description">Introductory computer science programming projects tend to be rather simple and uninteresting.  This project is the exception, using Java and the EZ library to create a music video.</div>
    </div>
    <a class="ui bottom attached button" href="https://mickyjm.github.io/projects/ics111final" target="_blank">
      <p> <i class="external icon"></i> View Work </p>
    </a>  
  </div>
  </div><div class="column">        
  <div class="ui centered fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="https://billmullen42.github.io/images/headshot.png">
      <div class="header">Meteorite, the Movie Pitch</div>
      <div class="meta">Bill Mullen</div>
      <div class="description">This essay was written for ICS 314, Software Engineering, when the author was working through issues installing Meteor on a Windows platform.  A very clever and humorous description of the problems involved with Meteor on Windows. </div>
    </div>
    <a class="ui bottom attached button" href="https://billmullen42.github.io/essays/Meteorite_The_Movie_Pitch.html" target="_blank">
      <p> <i class="external icon"></i> View Work </p>
    </a>  
  </div>
  </div></div><div class="three column stretched row"><div class="column">        
  <div class="ui centered fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="http://www.nathan-lam.com/images/profile_nathan_lam.jpg">
      <div class="header">Custom TechFolio Site</div>
      <div class="meta">Nathan Lam</div>
      <div class="description">TechFolio comes with a few built-in themes and the ability to easily change background colors, but if you are willing to dig into the templates, much more customization is possible. Nathan's site illustrates an extremely customized TechFolio.</div>
    </div>
    <a class="ui bottom attached button" href="http://nathancy.github.io/nathan-lam.com" target="_blank">
      <p> <i class="external icon"></i> View Work </p>
    </a>  
  </div>
  </div><div class="column">        
  <div class="ui centered fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="https://JHeadland.github.io/images/profile_pic.jpg">
      <div class="header">Manoa The Gathering</div>
      <div class="meta">John Headland</div>
      <div class="description">Fans of Magic The Gathering might find this locally flavored version of interest. In addition to Manoa-oriented cards, the application provides a way to play the game without incurring the cost of card decks.</div>
    </div>
    <a class="ui bottom attached button" href="https://jheadland.github.io/projects/mtg" target="_blank">
      <p> <i class="external icon"></i> View Work </p>
    </a>  
  </div>
  </div><div class="column"></div></div>