<div class="ui card">
    <div class="content">
      <img class="right floated tiny circular ui image" src="{{ portfolio.picture }}">
      <div class="header">
        {{ portfolio.name }}
      </div>
      <div class="meta">
        {{ portfolio.label }}
      </div>
      <div class="description">
        {{ portfolio.summary | markdownify }}
      </div>
    </div>
    <div class="extra content">
      Interests:
      {% for interest in portfolio.interests %}
      {{ interest }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </div>
  <div class="ui bottom attached button">
    <i class="external icon"></i>
    <a href="{{ portfolio.website}}">Portfolio</a>
  </div>
</div>
