<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
<script src="{{ site.baseurl }}/js/bundle.js"></script>
<script>
  // const dJSON = require('dirty-json');
  // const RJSON = require('relaxed-json');
  // const JSON5 = require('json5');
</script>

</script>
<div class="ui container ">
  <div class="ui four doubling stackable cards">
    {% for member_json_bio in site.data.members %}
    {% include portfolio-card.html member_json_bio=member_json_bio %}
    {% endfor %}
  </div>
</div>
