<div class="ui container ">
  {% include filter.html level = include.level %}
  <div class="ui four doubling stackable cards">
  	{% if include.level == "all" %}
			{% assign portfolios = site.data.data %}
		{% else %}
			{% assign portfolios = site.data.data | where: "level", include.level  %}
		{% endif %}    
    {% for portfolio in portfolios %}
      {% include portfolio-card.html portfolio=portfolio %}
    {% endfor %}
  </div>
</div>
<script type="text/javascript" src="/js/google-sheet-api.js"></script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<script type="text/javascript" src="/js/telemetry.js"></script>