---
layout: browse
---

<div class="ui container ">
  <div class="ui right aligned grid">
    <div class="left floated left aligned eight wide column">
      <div class="ui input">
        <p> 
          <strong>Browse portfolios by interest: </strong>  <input class="prompt" id="searchBox" type="text"> 
          <button onclick="browse()" class="ui primary button"> Browse </button>
        </p>  
      </div>
    </div>
    <div class="right floated right aligned eight wide column">
    <label><strong>OR</strong></label>
    <div class="ui slider checkbox" id="slider">
	  <input type="checkbox" name="newsletter">
  		<label>AND</label>
	</div>
  </div>
</div>
  <br>
  <hr>
  <br>
  <div class="ui four doubling stackable cards">
    {% assign portfolios = site.data.data %}
    {% for portfolio in portfolios %}
      {% include portfolio-card.html portfolio=portfolio %}
    {% endfor %}
  </div>
</div>

